@import "elements";
@import "variables";
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  .main{
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .container{
        justify-content: center;
        width: 25vw;
        align-items: center;
        text-align: center;
        line-height: 3rem;
        box-shadow: 15px 10px 30px 10px $color-mint;
        padding: 50px;
        height: 500px;
    }
  }
}