@import "elements";
@import "variables";

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100%;
    position: relative;
    padding-top:50px;

    :hover {
      background-color: $color-mint;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 3rem;
      font-family: $font-main;
      padding:60px;
    }

      img {
        margin: 50px;
        background-color: $color-mint;
        border-radius:5px;
      }
      h2 {
        color: $color-blue;
        font-size: 24px;
        text-transform: uppercase;
      }
    }