@import "variables";
@import "elements";

.footer{
  height: 50px;
  background-color: var(--color-green);
  display: flex;
  justify-content: space-between;
  .copyright {
  display: flex;
  align-items: center;
  padding-left: 15px;
.footer .copyright img {
  height: 30px;
  width: auto;
}}
footer .footer-logo img{
  height: 50px;
  width: auto;
  display: flex;
}}