@import "variables";
@import "elements";

.footer{
  height: 50px;
  background-color: $color-green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .copyright {
  display: flex;
  align-items: center;
  padding: 15px;
img {
  height: 30px;
  width: auto;
}
  h2{
    color:$color-navy;
    font-size: 12px;
    padding-right: 20px;

  }}
.footer-logo img{
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
}}