@import "variables";
@import "elements";

.nav-logo {
  background-color: $color-green;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
;

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    form{
    display: flex;
    align-items: center;
      .button .magnifier{
        padding-left: 20px;
        margin-top: 25px;
      }
    }
  }
}